@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #455a64e3;
  line-height: 2;
}

.contenedor {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.servicios {
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .servicios {
    text-align: left;
  }
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(91, 122, 112);
}

.info-empresa {
  padding: 1rem;
  background-color: #ccd7dc;
}
.info-empresa h3 {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .info-empresa h3 {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}

.nombre-empresa {
  color: #298a56;
}

.contacto {
  color: #838a86;
  padding: 1rem;
  background-color: #c8d2d6;
}
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.formulario label {
  display: block;
  font-weight: 900;
  font-size: 1.5rem;
}
.formulario button,
.formulario input{
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccd7dc;
}
.full {
  grid-column: 1/3;
}

.boton-enviar {
  background-color: #cc720c;
  color: #298a56;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight:900;
  font-size:18px;
  cursor: pointer;
}
.boton-enviar:focus, .boton-enviar:hover {
  background-color: #455a64;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}
.img{
  grid-column: 1/3;
  display: flex;
}