.dogs_container {
    background-color: #f2f1f5;
    color: rgb(255, 255, 255);
  }
  
  .dogs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .dogs_card {
    width: 320px;
    margin-top: 3rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #090e11;
  }
  
  .dogs_card:hover img {
    transform: scale(1.2);
  }
  .img_container {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
  }
  
  .img_container > img {
    min-width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
  .cont_h_w{
    display:flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;

  }
  .pagination_container {
    width: 50%;
    margin: auto;
    background-color: rgba(126, 125, 125, 0.472);
    padding: 0.4rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
    z-index: 1;
  }
  .pagination_container > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .pagination_container > ul > li {
    cursor: pointer;
    border: 1px solid #2d2b55;
    background-color: #2d2b55;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
  }
  
  .pagination_container > ul > li:hover {
    transform: translateY(-5px);
    border: 1px solid #383569;
    background-color: #383569;
  }
  