.landing_container{
    min-height: 100vh;
    position: relative;
}
.conteiner_welcome{
    padding-top: 20rem;
    position: relative;
    color: rgb(38, 201, 201);
    z-index: 2;
}
.button{
    display: inline-block;
    border: none;
    width: 200px;
    height: 3.5rem;
    border-radius: 30px;
    padding: 10px 5px;
    background-color: #f5be09;
    font-size: 1.8rem;
    color: #3f3f3f;
    font-weight: 800;
    transition: 150ms;
    margin-top: 2.5rem;

}